*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* body{ */
    /* background-image: linear-gradient(to top, rgb(38, 0, 45), rgb(23, 0, 107)); */
    /* background-repeat: no-repeat; */
    /* background-color: black; */
    /* background-image: url(img/cassino.jpg);
    background-size: cover;
} */

@font-face {
    font-family: 'Bricolage';
    src: url(fonts/BricolageGrotesque_18pt-Regular.ttf);
}

@font-face {
    font-family: 'BricolageBold';
    src: url(fonts/BricolageGrotesque_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Unb';
    src: url(fonts/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Regular.ttf);
}

body{
    /* background-color: #d39eff; */
    background-image: url(img/Design\ sem\ nome.png);
    background-size: cover;
}

.header{
    background-color: #67008d;
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.header img{
    width: 70px;
    margin-right: 10px;
}

h1{
    font: 600 30px 'Unb', sans-serif;
    color: white;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.seta{
    margin: 30px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.dois{
    display: flex;
}

h2{
    font: 700 40px 'Open Sans', sans-serif;
    color: white;
    margin-top: 12px;
}


label{
    color: white;
}

button{
    border-radius: 6px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px;
}

button:hover{
    -webkit-transform: scale(1.1);
   transform: scale(0.8);
   background-color: rgba(0, 0, 0, 0.616);
   color: white;
}

.fundo{
    background-color: #67008d;
    border-radius: 18px;
    text-align: center;
    margin: 24px 30%;
    margin-bottom: 120px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.37);
}

/* .header{
    height: 80px;
    width: 100%;
    background-color: rgb(168, 0, 0);
    display: flex;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.827);
} */

.titulo{
    font: 500 26px 'BricolageBold', sans-serif;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
}

.entradas{
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.entrada{
    margin: 0 30px;
}

.numero{
    font: 400 20px 'Montserrat', sans-serif;
    color: white;
    padding-bottom: 20px;
}

#resultado{
    font: 500 22px 'Bricolage', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

input{
    border-radius: 10px;
    width: 200px;
    height: 80px;
    font: 400 22px 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
}

/* #sortear{
    font: 400 16px 'Montserrat', sans-serif;
    color: white;
    margin-top: 50px;
    margin-right: 40px;
} */


.sorteio{
    font: 400 22px 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 15px;
}

.final{

    background-color: white;
    border-radius: 15px;
    margin: 40px 0;
    width: 300px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome{
    font: 500 20px 'Bricolage', sans-serif;
}

.junto{
    display: flex;
}

.retangulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e{
    color: white;
    font: 400 22px 'Montserrat', sans-serif;
    margin-top: 30px;
}

i{
    font-size: 40px;
}

@media screen and (max-width: 768px) {

    .final{
        width: 250px;
    }

    .fundo{
        margin: 20px 20% 90px 20%;
    }

    .entradas{
        flex-direction: column;
    }

    .e{
        margin: 20px 0;
    }

}